<div style="margin-top: 50px">
    <div style="height: 60px">
      <p-button
        (onClick)="gotoAddBook()"
        label="Add Book"
        icon="pi pi-check"
      ></p-button>
    </div>
    <div style="height: 60px">
      <p-button
        (onClick)="gotoDeleteBook()"
        label="Delete Book"
        icon="pi pi-trash"
      ></p-button>
    </div>
    <div style="height: 60px">
      <p-button (onClick)="gotoEditBook()" label="Edit Book Details"></p-button>
    </div>
    <div style="height: 60px">
      <p-button
        (onClick)="gotoFindBook()"
        label="Find Book"
        icon="pi pi-search"
      ></p-button>
    </div>
  </div>
  